.Popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  z-index: var(--z-popup);

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .75);
    z-index: -1;

    &_opened {
      animation: fadeIn var(--transition-s);
    }

    &_closed {
      opacity: 0;
      visibility: hidden;
      transition: var(--transition-m);
    }
  }

  &__content {
    background: var(--c-bg-secondary);
    border-radius: var(--radius);
    box-shadow: var(--shadow-secondary);
    transition: 1000ms;
    padding: 20px;

    &_opened {
      animation: zoomIn var(--transition-s);
    }

    &_closed {
      transform: scale(0);
      transition: var(--transition-f);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
