.Articles {
  display: grid;
  grid-gap: var(--gap);
}

.Article {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-auto-flow: column;
  text-decoration: none;
  color: inherit;
  min-height: 180px;
  overflow: hidden;
  border: 1px solid var(--c-border);
  border-radius: var(--radius);
  box-shadow: var(--shadow-main);

  @media only screen and (max-width: 760px) {
    display: flex;
    flex-direction: column;
  }

  &__imgLink {
    overflow: hidden;
    border-right: 1px solid var(--c-border);
  }

  &__img {
    height: 100%;

    img {
      transition: var(--transition-m);
    }

    &:hover img {
      transform: scale(1.05);
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  &__header {
    align-self: flex-start;
    text-decoration: none;
    color: inherit;
  }

  &__header:hover {
    color: var(--c-accent);
  }

  &__title {
    color: var(--c-accent);
    font-size: var(--font-xl);
    transition: var(--transition-f);
    margin: 0 0 10px;

    &:hover {
      color: var(--c-accent-secondary);
    }
  }

  &__description {
    font-size: var(--font-xs);
  }

  &__tags {
    margin: 15px 0;
  }

  &__footer {
    font-size: 0.8em;
    color: #999;
    margin: auto 0 0 auto;

    @media only screen and (max-width: 670px) {
      margin: 0;
    }
  }

  &__info {
  }

  &__duration {
    @media only screen and (max-width: 670px) {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }
}
