.Search {
  position: relative;
  width: 320px;
  margin: 0 15px;

  @media only screen and (max-width: 670px) {
    width: 170px;
  }

  &__icon {
    position: absolute;
    display: flex;
    align-items: center;
    left: 10px;
    top: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    z-index: var(--z-layout-2);
  }

  &__field {
    padding-left: 30px;
  }
}
