.Tags {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;

  &__item {
    color: inherit;
    font-size: var(--font-xs);
    padding: 3px 10px;
    text-decoration: none;
    border: 1px solid var(--c-border);
    border-radius: var(--radius);
    margin: 5px;

    &_active {
      background: var(--c-bg-secondary);
      cursor: default;
    }
  }

  &__item:hover {
    color: #fff;
    background: var(--c-accent);
  }

  &__item {
    &_active {
      &:hover {
        color: inherit;
        background: var(--c-bg-secondary);
      }
    }
  }
}
