.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  line-height: 1;
  min-height: 40px;
  font-size: var(--font-xxs);
  color: var(--c-text-main);
  text-decoration: none;
  border-radius: var(--radius);
  transition: var(--transition-f);

  &_transparent {
    border: 1px solid var(--c-border);
    background: none;

    &:hover {
      box-shadow: var(--shadow-main);
      background: var(--c-accent);
      color: var(--c-white);
    }
  }

  &_blue {
    color: var(--c-white);
    background: var(--c-accent);

    &:hover {
      color: var(--c-white);
      background: var(--c-accent-secondary);
    }
  }

  &_gray {
    color: var(--c-white);
    background: #5a5a5a;
    box-shadow: var(--shadow-secondary);

    &:hover {
      color: var(--c-white);
      background: var(--c-accent-secondary);
    }
  }

  &:active {
    box-shadow: none;
  }

  &:disabled {
    box-shadow: none;
    background: var(--c-gray);
    cursor: default;
  }
}
