.Contacts {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;

  @media only screen and (max-width: 760px) {
    justify-content: flex-start;
    grid-gap: var(--gap);
  }

  &__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;

    svg {
      width: 24px;
      height: 24px;
    }
  }
}
