:root {
  --c-white: #fff;

  --font-xxs: 0.8rem;
  --font-xs: 0.85rem;
  --font-s: 0.9rem;
  --font-m: 1rem;
  --font-l: 1.2rem;
  --font-xl: 1.5rem;
  --font-xxl: 2.2rem;
  --font-3xl: 3rem;

  @media only screen and (max-width: 670px) {

  }

  --gap: 20px;

  --radius: 6px;

  --shadow-secondary: 2px 4px 8px 2px rgba(0, 0, 0, 0.22);

  --transition-f: 0.15s;
  --transition-m: 0.25s;
}
