.Main {
  display: grid;
  grid-template-columns: 1fr 280px;
  grid-gap: var(--gap);
  align-items: flex-start;

  @media only screen and (max-width: 1100px) {
    display: flex;
    flex-direction: column;
  }
}

.Content {
}

.Sidebar {
  position: sticky;
  top: 20px;
  display: grid;
  align-content: flex-start;
  grid-gap: var(--gap);

  @media only screen and (max-width: 1100px) {
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media only screen and (max-width: 760px) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.SidebarAside {
  display: grid;
  grid-gap: var(--gap);

  @media only screen and (max-width: 760px) {
    grid-template-columns: 1fr 1fr;
  }

  &__link {
    text-decoration: none;
  }
}

.Links {
  text-align: right;
  font-size: var(--font-xxs);
  margin-top: -10px;
}
