.Header {
  border-bottom: 1px solid var(--c-border);
  z-index: 10;

  &__ghlink {
    margin: 0 10px;
  }

  &__theme {
    width: 40px;
    height: 40px;
    background: none;
    font-size: 1.3333em;
    border: 1px solid var(--c-border);
    box-shadow: var(--shadow-main);
    border-radius: var(--radius);

    &:hover {
      background: var(--c-accent);
    }
  }

  &__logo {
    display: inline-flex;
  }

  &__logo:hover rect {
    fill: var(--c-accent);
  }
}

.HeaderContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
}

.HeaderSection {
  display: flex;
  align-items: center;
}
