site: <a href="https://novavovikov.ru">novavovikov.ru</a>

<p>Feedback from <b>{{#if from}}{{name}}{{else}}[unknown]{{/if}}</b></p>
<hr/>

{{#if subject}}
  <p>
    <b>Subject:</b> {{subject}}
  </p>
  <hr/>
{{/if}}

{{message}}
