site: <a href="https://devarticles.space">devarticles.space</a>

<p>Feedback from <b>{{#if from}}{{from}}{{else}}[unknown]{{/if}}</b></p>
<hr/>

{{#if subject}}
  <p>
    <b>Subject:</b> {{subject}}
  </p>
  <hr/>
{{/if}}

{{message}}
