:root {
  --c-white: #fff;

  --c-blackout-light: rgba(0, 0, 0, .65);
  --c-blackout-medium: rgba(0, 0, 0, .75);
  --c-blackout-dark: rgba(0, 0, 0, .85);

  --font-xxs: 0.8rem;
  --font-xs: 0.85rem;
  --font-s: 0.9rem;
  --font-m: 1rem;
  --font-l: 1.2rem;
  --font-xl: 1.5rem;
  --font-xxl: 2.2rem;
  --font-3xl: 3rem;

  --gap: 20px;

  --radius: 6px;

  --shadow-secondary: 2px 4px 8px 2px rgba(0, 0, 0, 0.22);

  --transition-f: 0.15s;
  --transition-m: 0.25s;
  --transition-s: 0.4s;

  --z-overlay: -1;
  --z-layout-flat: 0;
  --z-layout-1: 1;
  --z-layout-2: 2;
  --z-controls: 10;
  --z-sidebar: 30;
  --z-sidebar-icon: 31;
  --z-popup: 99;
  --z-splash: 100;
}
