.Events {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;

  &__content {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-gap: var(--gap);
  }

  &__list {
    display: grid;
    align-content: flex-start;
    grid-gap: var(--gap);
    max-height: 100%;
    overflow: auto;
  }

  &__map {
    background: var(--c-gray);
    border: 1px solid var(--c-gray);
    border-radius: var(--radius);
    overflow: hidden;
  }
}
